// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#message {
  position:absolute;
  top:auto;
  bottom:50px;
  left:30%;
  width:600px;
  right:auto;
  font-size:50px;
  font-family:helvetica;
}

