!!!
%html
  %head
    %title TwilioPusherPong - Twilio Pusher Pong
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script(src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript")
    :javascript
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) window.console.log(message);
      };

      // Flash fallback logging - don't include this in production
      WEB_SOCKET_DEBUG = true;

      var pusher = new Pusher('be980d841f2e9322944d');
      var channel = pusher.subscribe('test_channel');
      channel.bind('player', function(data) {
        pong.move(data);
      });
      channel.bind('player_leave', function(data) {
        pong.player_leave(data);
      });


    :javascript
      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-65455-12']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    = yield

