!!!
%html
  %head
    %title TwilioPusherPong
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script(src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript")
    :javascript
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) window.console.log(message);
      };

      // Flash fallback logging - don't include this in production
      WEB_SOCKET_DEBUG = true;

      var pusher = new Pusher('be980d841f2e9322944d');
      var channel = pusher.subscribe('test_channel');
      channel.bind('player', function(data) {
        pong.move(data);
      });
      channel.bind('player_leave', function(data) {
        pong.player_leave(data);
      });
  %body
    = yield
